.main {
  display: flex;
  justify-content: center;
}
header ul{
  display: flex;
  list-style-type:none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  justify-content: space-between;
}